:root {
	--light: "HND-Light", sans-serif;
	--lightItalic: "HND-LightItalic", sans-serif;
	--regular: "HND-Regular", sans-serif;
	--regularItalic: "HND-RegularItalic", sans-serif;
	--medium: "HND-Medium", sans-serif;
	--mediumItalic: "HND-MediumItalic", sans-serif;
	--bold: "HND-Bold", sans-serif;
	--boldItalic: "HND-BoldItalic", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	font-family: var(--regular);
}


*::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
*::-webkit-scrollbar-track {
	background: transparent;
}
*::-webkit-scrollbar-thumb {
	background-color: #9a143c;
}
*::-webkit-scrollbar-thumb:hover {
	background-color: #8c1237;
}
*::-webkit-scrollbar-thumb:active {
	background-color: #7d1131;
}


html {
	scroll-behavior: smooth;
	user-select: none;
	color: #ECECEC;
	background: #242424;
}

a {
	text-decoration: underline;
	text-underline-offset: 2px;
	opacity: 0.7;
	transition: 0.2s;
}
a:hover {
	opacity: 1;
	transition: 0.2s;
}


.flex {
	display: flex;
}
.flexCol{
	flex-direction: column;
}
.flexRow{
	flex-direction: row;
}


#titlebar-close {
	background: transparent;
	opacity: 0.7;
	transition: 0.2s;
}
#titlebar-close:hover {
	background: #E7260888;
	opacity: 1;
	cursor: pointer;
	transition: 0.2s;
}
#titlebar-maximize {
	background: transparent;
	opacity: 0.7;
	transition: 0.2s;
}
#titlebar-maximize:hover {
	background: #CACACA88;
	opacity: 1;
	cursor: pointer;
	transition: 0.2s;
}
#titlebar-minimize {
	background: transparent;
	opacity: 0.7;
	transition: 0.2s;
}
#titlebar-minimize:hover {
	background: #CACACA88;
	opacity: 1;
	cursor: pointer;
	transition: 0.2s;
}

#statusIndicator {
	height: auto;
	color: #ECECEC;
	font-size: 12px;
	opacity: 0.7;
	gap: 5px;
	transition: 0.2s;
}
#statusIndicator:hover {
	opacity: 1;
	transition: 0.2s;
}


.botResponseText {
	user-select: text;
	background: #392F32;
}

.myResponseText {
	user-select: text;
	background: #313131;
}