:root {
	--light: "HND-Light", sans-serif;
	--lightItalic: "HND-LightItalic", sans-serif;
	--regular: "HND-Regular", sans-serif;
	--regularItalic: "HND-RegularItalic", sans-serif;
	--medium: "HND-Medium", sans-serif;
	--mediumItalic: "HND-MediumItalic", sans-serif;
	--bold: "HND-Bold", sans-serif;
	--boldItalic: "HND-BoldItalic", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	font-family: var(--regular);
}

html {
	scroll-behavior: smooth;
	user-select: none;
	color: #ECECEC;
	background: #242424;
}